    #impacto{
        width: 100%;
        background-color: #254e58;
        font-family:'Arial', sans-serif;
        padding: 50px 370px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centraliza verticalmente */
        align-items: center;     /* Centraliza horizontalmente */
        }
    
    #impacto h1 {
        font-size: 45px;
        padding-bottom: 50px;
        color: #fff;
        padding-top: 100px;
    }

    #impacto h2 {
        font-size: 37px;
    }
    
    .impactosContainer div {
        align-self: center;
    }

    .impactosContainer > div{
        width: 100%;
        height: 270px;
        background-color: #112d32;
        color: aliceblue;
        display: flex;
        flex-direction: row;  /* Altera para coluna para alinhar h3 e p */
        align-items: center; 
        gap: 2%;
        padding: 30px;
        border-top: 5px solid #88bdbc;
        border-radius: 30px;
        background: linear-gradient(130deg, var(#112d32) 0%, #254e58 50%, #88bdbc 100%);
        transition: all .5s;
    }
    
    .impactosContainer > div:hover{
        transform: scale(1.1);
    }
    
    /* Estilo do h3 e P */
    .impactosContainer > div h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .impactosContainer > div p {
        font-size: 14px;
        line-height: 1.5;
    }