    #impacto{
        width: 100%;
        background-color: #254e58;
        padding-bottom: 150px;
        padding-top: 100px;
        padding-left: 250px;
    }
    
    #impacto h1{
        font-family:'Times New Roman', Times, serif;
        font-size: 45px;
    }
    
    .impactosContainer > div{
        width: 85%;
        height: 320px;
        background-color: #112d32;
        color: aliceblue;
        display: flex;
        flex-direction: row;  /* Altera para coluna para alinhar h3 e p */
        align-items: center; 
        gap: 2%;
        padding: 30px;
        border-top: 5px solid #88bdbc;
        border-radius: 30px;
        background: linear-gradient(130deg, var(#112d32) 0%, #254e58 50%, #88bdbc 100%);
        transition: all .5s;
    }
    
    .impactosContainer > div:hover{
        transform: scale(1.2);
    }
    
    /* Estilo do h3 e P */
    .impactosContainer > div h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .impactosContainer > div p {
        font-size: 16px;
        line-height: 1.5;
    }