#inicio {
    background-image: url("/MarketPesca/src/images/pesca02.jpg");
    background-size: cover;
    color: #fff;
    padding: 50px;
    text-align: center;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
}

/*#inicio h1, #inicio h3 {
    color: #000;
    font-family: 'Arial', sans-serif;
    padding-bottom: 15px;
}*/

#infoODS h3 {
    color: #00bfff;
}

#infoODS, #ODS14 {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 38px;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
}        

#ODS14 {
    background-color: rgb(10, 151, 217, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}        

#infoODS14 h3 {
    padding-top: 45px;
    color: #fff;
}

#imgODS {
    width: 60%;
}

#imgODS img {
    width: 75%;
    height: 75%;
}

#infoODS p, #ODS14 p {
    font-size: 16px;
    line-height: 1.6;
}