/* Estilo geral */
#produto {
    background-color: #254e58;
    color: #fff;
    text-align: center;
}

/* Título */
.titleProd {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color: #99e9f2;
    padding: 20px;
    padding-top: 100px;
    margin-bottom: 40px;
}

/* Itens do portfólio */
.ProdItens {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 70px;
}

.ProdItem {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProdItem img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    scale: 0.7;
    transition: transform 0.3s ease;
}

.ProdContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro transparente */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center;
}

.ProdItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.ProdItem:hover img {
    transform: scale(1.2); /* Aumenta a imagem */
}

.ProdItem:hover .ProdContent {
    opacity: 1; /* Exibe o texto quando o mouse passa */
}
